.form-background {
  background: rgba(46, 47, 66, 0.4);
  justify-content: center;
  position: fixed;
  min-width: 100%;
  height: 623px;
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(100%);
}
.form {
  min-width: 288px;
  height: 100%;
  background-color: #fcfcfc;
  border-radius: 4px;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.footer-button-close {
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-title {
  color: #2e2f42;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  font-size: 16px;
}
.modal-window {
  margin-bottom: 8px;
}
.modal-window-pole {
  border: none;
}
.form-label-text {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
}
.form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-container {
  position: relative;
}
.form-input-svg {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: #4d5ae5;
}
.form-input:focus + .form-input-svg {
  fill: #4d5ae5;
}
.form-textarea {
  margin-bottom: 16px;
}
.form-input-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}
.form-input-textarea:focus {
  border-color: #4d5ae5;
}
.form-castom {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  margin-right: 8px;
}
.checkbox-img {
  fill: #fff;
}
.checkbox-orig:checked + .form-label-checkbox > .form-castom {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.form-label-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-link {
  color: #4d5ae5;
  line-height: 1.3;
  text-decoration-line: underline;
}
.form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #fff;
  background-color: #4d5ae5;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}
@media screen and (width: 768px) {
  .form {
    width: 408px;
    height: 584px;
    margin: 8px auto;
  }
}
@media screen and (min-width: 1158px) {
  .footer-button-close:hover,
  .footer-button-close:focus {
    background-color: #404bbf;
  }
  .footer-button-close:focus,
  .footer-button-close:hover {
    border: none;
    background-color: #8e8f99;
  }
  .form-input:focus {
    border-color: #4d5ae5;
  }
  .form-input:focus + .form-input-svg {
    fill: #4d5ae5;
  }
  .form-button:hover,
  .form-button:focus {
    background-color: #404bbf;
  }
}
